#indicador{
background-color: rgb(87, 84, 84);
border-radius: 10px;
height: 35px;
padding: 5px;
justify-content: center;
text-align: center;
opacity: 8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-color: #626962;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color:rgb(44, 44, 43);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 100px;
    padding: 18px;
    margin: 10px;
}
nav img:hover{
    padding: 10px;   
}
nav div{
    display: flex;
    gap:40px;
}
nav div a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
footer{
    background-color:rgb(44, 44, 43);
    padding: 10px;
    text-align: center;
}
.galeria{
    display: flex;
    width: 508px;
    height: 450px;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit:cover;
    opacity: 8;
    transition: .3s ease;
    border: rgb(49, 49, 49) 1px solid;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    border: #626962 solid 1px;
}
.redes{
    height: 250px;
    width: 100%;
}
.redes:hover{
    height: 260px ;
}
h5{
    text-align: center;
    background-color: white ;
}
h3{
    text-align: center;
    background-color: white ;
}
h2{
    text-align: center;
    background-color: white ;
}
.Logo{
    display: flex;
    width: 100%px;
    height: 250px;
    cursor: pointer;
}
.Logo{
    display: flex;
    width: 250px;
    height: 250px;
    cursor: pointer;
}
div .tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descrip{
    width: 100px;
    height: 100px;
}
h1{
    font-size: 75px;
}